<div class="row">
  <section class="main col-md-9">
    <h2>About Bogs</h2>
    <p>Bogs are unique environments, often referred to as wetlands, characterized by their wet, spongy, and acidic conditions. These areas primarily accumulate peat, a deposit of dead plant material, often mosses, and in a majority of cases, sphagnum moss.</p>
    <p>Due to their unique conditions, they host a variety of flora and fauna adapted to the acidic environment, making them rich biodiversity hotspots. Carnivorous plants, such as sundews and pitcher plants, are often found in bogs, as the nutrient-poor conditions have led these plants to evolve to extract nutrients from insects.</p>
    <p>Bogs also play a critical role in carbon sequestration. The build-up of peat locks in carbon over thousands of years, making them essential in the fight against climate change.</p>
  </section>
  <aside class="col-md-3">
    <h2>Quick Bog Facts</h2>
    <ul>
      <li>They are important carbon sinks.</li>
      <li>Home to unique and often endangered species.</li>
      <li>Threatened by activities like drainage for agriculture, peat extraction, and climate change.</li>
      <li>Known for preserving ancient artifacts in their peat, including remarkably well-preserved bodies known as bog bodies.</li>
    </ul>
  </aside>
</div>
