<div class="row">
  <div class="col-md-12">
    <h2>Posts</h2>
    <hr />

    {{#each posts}}
      <div class="card">
        <a href="/blog/{{id}}">{{title}}</a>
      </div>
    {{else}}
      <div> {{this.message}} </div>
    {{/each}}
  </div>
</div>
