<div class="col-md-12">
  <h2>{{clientSession_.user.userName}}
    ({{clientSession_.user.email}}) History</h2>
  <hr />
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Login Date/Time</th>
          <th>Client Information</th>
        </tr>
      </thead>
      <tbody>
        {{#if clientSession_.user.loginHistory}}
          {{#each clientSession_.user.loginHistory}}
            <tr>
              <td>{{dateTime}}</td>
              <td>{{userAgent}}</td>
            </tr>
          {{/each}}
        {{/if}}
      </tbody>
    </table>
  </div>
</div>
